
html {
    background-color: rgb( 27, 27, 27);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a::after {
    text-decoration: none;
    color: white;
}

/* Navigation Menu*/
.nav-manager {
    margin: 40px;
}

.nav-box {
    text-align: center;
    background-color: rgb(148, 148, 148);
    position: absolute;
    margin: 20px;
    height: 90%;
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.90);
}

.nav-menu {
    margin-top:300px;
    line-height: 60px;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

.nav-btn {

}

.nav-btn:hover {
    color: grey;
    text-shadow: 80%, black;
}


/* Main Window*/

.main-manager {


}

.main-box {
    background-color: rgb(148, 148, 148);

    position: absolute;
    margin-left: 430px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;

    min-width: 90%;
    height: 90%;

    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.90);
}