
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb( 27, 27, 27);
}

.login-center {
    margin: 0;
    top: 30%;
    left: 40%;
    right: 50%;
    
    position: fixed;
}

.login-box {
    text-align: center;
    background-color: rgb(248, 248, 248);
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.90);
    max-width: 200px;
    max-height: 300px;
    min-width: 200px;
    min-height: 300px;
}

.login-header {
    font-size: xx-large;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form {
    color: black;
    line-height: 30px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #838383;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }